webservice-oferta-ldi-roaming/OfertaLdiRoamingWEB/src/main/webapp/WEB-INF/wsdl/ofertaBolsasWSDL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="ofertaBolsasWSDL" targetNamespace="http://www.clarochile.cl/webservices/ofertaBolsasWSDL/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.clarochile.cl/webservices/ofertaBolsasWSDL/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.clarochile.cl/webservices/ofertaBolsasWSDL/" xmlns:tns="http://www.clarochile.cl/webservices/ofertaBolsasWSDL/">
      <xsd:element name="ConsultaBolsasRequest">
        <xsd:complexType>
          <xsd:sequence minOccurs="1" maxOccurs="1">
            <xsd:element name="tipoProducto"
              type="tns:tipoProductoType" minOccurs="1" maxOccurs="1" />
            <xsd:element name="offerId" type="xsd:string"
              minOccurs="0" maxOccurs="1">
            </xsd:element>
            <xsd:element name="pagination" type="tns:paginationTypeBolsas" minOccurs="1" maxOccurs="1"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultaBolsasResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bolsaType" type="tns:Bolsa"
              minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="code" type="xsd:string" minOccurs="1"
              maxOccurs="1">
            </xsd:element>
            <xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:simpleType name="tipoProductoType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="HFC"></xsd:enumeration>
          <xsd:enumeration value="DTH"></xsd:enumeration>
          <xsd:enumeration value="SIAP"></xsd:enumeration>
          <xsd:enumeration value="ONE"></xsd:enumeration>
          <xsd:enumeration value="VTV"></xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
    
      <xsd:complexType name="paginationTypeBolsas">
        <xsd:sequence>
          <xsd:element name="limitpage" type="xsd:string"
            minOccurs="1" maxOccurs="1">
          </xsd:element>
          <xsd:element name="pagenumber" type="xsd:string"
            minOccurs="1" maxOccurs="1">
          </xsd:element>
          <xsd:element name="totalrow" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Bolsa">
        <xsd:sequence>
          <xsd:element name="pagination"
            type="tns:paginationTypeBolsas" minOccurs="1" maxOccurs="1">
          </xsd:element>
          <xsd:element name="bolsa" type="tns:bolsaType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="bolsaType">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="offerId" type="xsd:string"
            minOccurs="1" maxOccurs="1">
          </xsd:element>
          <xsd:element name="offerName" type="xsd:string"
            minOccurs="1" maxOccurs="1">
          </xsd:element>
          <xsd:element name="recurrente" type="xsd:string"
            minOccurs="1" maxOccurs="1">
          </xsd:element>
          <xsd:element name="duracion" type="xsd:string"
            minOccurs="1" maxOccurs="1">
          </xsd:element>
          <xsd:element name="duracionUnidad" type="xsd:string"
            minOccurs="1" maxOccurs="1">
          </xsd:element>
          <xsd:element name="precio" type="xsd:string" minOccurs="1"
            maxOccurs="1">
          </xsd:element>
          <xsd:element name="descripcion" type="xsd:string"
            minOccurs="1" maxOccurs="1">
          </xsd:element>
          <xsd:element name="estado" type="xsd:boolean"
            minOccurs="1" maxOccurs="1">
          </xsd:element>
          <xsd:element name="orden" type="xsd:string" minOccurs="1"
            maxOccurs="1">
          </xsd:element>
          <xsd:element name="destacado" type="xsd:boolean"
            minOccurs="1" maxOccurs="1">
          </xsd:element>
          <xsd:element name="fechaIngreso" type="xsd:dateTime"
            minOccurs="1" maxOccurs="1">
          </xsd:element>
          <xsd:element name="fechaModificacion" type="xsd:dateTime"
            minOccurs="1" maxOccurs="1">
          </xsd:element>
          <xsd:element name="tipoProducto" type="tns:tipoProductoType" minOccurs="1" maxOccurs="1"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaBolsasRequest">
    <wsdl:part element="tns:ConsultaBolsasRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ConsultaBolsasResponse">
    <wsdl:part element="tns:ConsultaBolsasResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ofertaBolsasWSDL">
    <wsdl:operation name="ConsultaBolsas">
      <wsdl:input message="tns:ConsultaBolsasRequest"/>
      <wsdl:output message="tns:ConsultaBolsasResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ofertaBolsasWSDLSOAP"
    type="tns:ofertaBolsasWSDL">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" required="true" />
    <wsdl:operation name="ConsultaBolsas">
      <soap:operation
        soapAction="http://www.clarochile.cl/webservices/ofertaBolsasWSDL/ConsultaBolsas" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ofertaBolsasWSDL">
    <wsdl:port binding="tns:ofertaBolsasWSDLSOAP" name="ofertaBolsasWSDLSOAP">
      <soap:address location="http://www.clarochile.cl/ofertabolsasldiroamingservice/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>